body {
  background-color: #f5f5da;
}

.heading {
  text-align: center;
  margin-top:30px;
  margin-bottom:100px;
}

.size {
  padding:50px;
  background-color:#bcf1b5;
  font-family: monospace;
  font-size: 16px
}

#toppings {
  padding:50px;
  background-color:#bcf1b5;
  font-family: monospace;
  font-size: 16px
}



#orderPrice {
  padding:50px;
  background-color:#bcf1b5;
  font-family: monospace;
  font-size:20px;
  display: none;
}

.orderPrice {
  display: none;
}

img {
  display: block;
  height: 340px;
}

.pizzaGif1 {
  display: none;
}

.pizzaGif2 {
  display: none;
}

#total {
  font-size: 20px;
}

#delivery {
  display: none;
  margin-top: 30px;
}

#fullOrder{
  display: none;
  font-size: 30px;
  color:red;
  font-family: monospace;
  background-color: #f5f5da;
}

