body {
  background-color: #f5f5da;
}

.heading {
  text-align: center;
  margin-top:30px;
  margin-bottom:100px;
}

.size {
  padding:50px;
  background-color:#bcf1b5;
}

.toppings {
  padding:50px;
  background-color:#bcf1b5;
}

#orderPrice {
  padding:50px;
  background-color:#bcf1b5;
  display: none;
}

#orderButton {
  padding:400;
  color: #f5f5da;
}

.orderPrice {
  display: none;
}

img {
  display: block;
  height: 340px;
}
